* {
    color: white;
    font-family: sans-serif;
}

body {
    background-color: black;
    display: grid;
    grid-auto-flow: column;
    gap: 5vmax;
    margin-top: 8vh;
    
    @media screen and (max-width: 800px) {
        grid-auto-flow: row;
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    border-radius: 5px;
    background-color: #5200ff;
    border-radius: 15px;
    width: auto;

    @media screen and (max-width: 800px) {
        flex-direction: row;
        justify-self: center;
    }

    a {
        font-size: 5vmin;
        color: white;
        text-decoration: none;
        padding: 5vh;

        @media screen and (max-width: 800px) {
            padding: 1vh;
            width: 20%;
            font-size: 3vw;
        }
    }

    .active {
        background-color: #8000ff;
        border-radius: 15px;
    }
}

.content {
    display: grid;
    width: 60vw;
    border-radius: 10px;
    background-color: #8000ff;
    justify-self: center;

    .NoaLöhrer {
        justify-self: center;
        margin-top: 8vh;
    }

    .image {
        justify-self: center;
        height: 50vmin;

        @media screen and (max-width: 800px) {
            min-width: 20vw;
        }
    }

    .image1 {
        height: 50vmin;
        align-self: center;
        border-radius: 15px;
        margin: 10vmin;
    }

    .aboutMe {
        margin: 10vmin;
        align-self: center;
    }

    .FähigkeitenTable {
        margin: 15vmin 0vmin;

        td {
            padding: 0px 10px;
            height: 0vh;
            width: 50%;
        }
    }
}

.content1 {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}
